.information {
	display: block;
	position: relative;
	padding: 6em 0;
	width: 100%;
	background-color: $white-crystal;
	&__card {
		background-color: $white;
		border-radius: 12px;
		box-shadow: $shadow-bottom-35-grey-035;
		padding: 2em;
		transition: 0.5s ease-in-out all; 
		-moz-transition: 0.5s ease-in-out all; 
		-webkit-transition: 0.5s ease-in-out all;
		& img {
			display: block;
			margin: 0 auto;
		}
		& p {
			text-align: center;
			&:nth-child(2) {
				text-transform: capitalize;
				font-weight: 700;
				font-size: $font-lg;
				color: $black;
				margin: .75em 0;
			}
			&:nth-child(3) {
				font-size: $font-sm;
				color: $grey;
			}
		}
		&:hover {
			transform: translateY(-5%);
			box-shadow: $shadow-bottom-75-grey-035;
		}
	}
}