.card {
  position: relative;
  width: 100%;
  background-color: $white;
  box-shadow: $shadow-bottom-35-grey-035;
  border-radius: 12px;
  margin-bottom: 2em;
  cursor: pointer;
  transition: 0.35s ease all;
  -moz-transition: 0.35s ease all;
  -webkit-transition: 0.35s ease all;
  &__image {
    & img {
      object-fit: cover;
      width: 100%;
      height: 200px;
      border-radius: 12px;
    }
    & p {
      position: absolute;
      font-size: $font-md;
      font-weight: 700;
      color: $white;
      padding: 0.25em 0.5em;
      top: 1em;
      left: 1em;
      border-radius: 12px;
      text-transform: uppercase;
      &.orange {
        background-color: $orange;
      }
      &.red {
        background-color: $red;
      }
      &.black-060 {
        background-color: $black-060;
      }
    }
  }
  &__content {
    padding: 2em 1em;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    & p {
      text-align: center;
      font-size: $font-md;
      color: $black;
      &:nth-child(2) {
        color: $grey;
      }
    }
  }
  &:hover {
    transform: translateY(-5px);
    box-shadow: $shadow-bottom-55-grey-035;
  }
}
