.dropdown {
  display: none;
  position: absolute;
  top: 35px;
  text-align: left;
  background-color: $white-blueish;
  min-width: 200px;
  overflow: auto;
  border-radius: 3px;
  z-index: 1;
  & ul {
    display: inline-block;
    width: 100%;
    & li {
      padding: 0.5em 1em;
      &:not(:last-child) {
        border-bottom: 1px solid $white-blueish-hover;
      }
      &:hover {
        background-color: $white-smokey-hover;
      }
    }
  }
}