a {
  background: transparent;
  text-decoration: none;
  &:active,
  &:hover,
  &:link,
  &:visited {
    text-decoration: none;
  }
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
hr {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  margin-block-end: 0;
  margin-block-start: 0;
}

textarea {
  resize: none;
  font-family: $font-family-base;
}

input,
select,
textarea {
  padding: unset;
  border: none;
  border-radius: 0;
}

button:focus,
input:focus,
textarea:focus,
select:focus {
  outline: none;
  box-shadow: unset;
}

label {
  margin: 0;
}

button {
  border: none;
  padding: unset;
}
