@import url('https://fonts.googleapis.com/css?family=Open+Sans:600,700|Source+Sans+Pro:400,400i,600,700');

$primary-font: "Raleway", sans-serif;
$font-family-base: 'Source Sans Pro', sans-serif;
$headings-font-family: 'Open Sans', monospace !default;

$font-xs: 8px;
$font-xs: 10px;
$font-sm: 12px;
$font-md: 14px;
$font-lg: 18px;
$font-xl: 24px;
$font-xxl: 32px;
$font-xxxl: 40px;
$font-xxxxl: 48px;

$primary-color: rgba(0, 197, 209, 1);
$primary-color-hover: rgb(4, 184, 194);

$black: rgba(15, 21, 28, 1);
$black-080: rgba(15, 21, 28, 0.8);
$black-060: rgba(15, 21, 28, 0.6);
$black-035: rgba(15, 21, 28, 0.35);
$black-015: rgba(15, 21, 28, 0.15);

$grey: rgba(156, 156, 156, 1);
$grey-035: rgba(156, 156, 156, 0.35);
$grey-025: rgba(156, 156, 156, 0.25);

$white: rgb(255, 255, 255);
$white-075: rgba(255, 255, 255, 0.75);

$white-smokey: rgb(231, 231, 231);
$white-smokey-hover: rgb(204, 204, 204);

$white-crystal: rgba(249, 250, 252, 1);
$white-crystal-hover: rgb(242, 244, 248);

$white-blueish: rgba(243, 244, 247, 1);
$white-blueish-hover: rgb(228, 230, 236);

$red: rgba(244, 67, 54, 1);
$red-hover: rgba(186, 0, 13, 1);
$red-light: rgba(243, 125, 116, 1);

$orange: rgba(247, 148, 29, 1);

$yellow-light: rgba(245, 217, 117, 1);

$yellow-dark: rgba(222, 174, 0, 1);

$blue: rgba(24, 142, 232, 1);

$blue-light: rgba(53, 214, 224, 1);

$green: rgba(9, 189, 98, 1);

$green-light: rgba(117, 226, 171, 1);

$shadow-bottom-5-black-035: 0px 3px 5px 0px $black-035;

$shadow-bottom-15-grey-035: 0px 1px 5px 0px $grey-035;
$shadow-bottom-35-grey-035: 0px 3px 5px 0px $grey-035;
$shadow-bottom-55-grey-035: 0px 5px 5px 0px $grey-035;
$shadow-bottom-75-grey-035: 0px 7px 5px 0px $grey-035;
$shadow-left-35-grey-035: 3px 0px 5px 0px $grey-035;

$shadow-bottom-35-grey-025: 0px 3px 5px 0px $grey-025;

$shadow-checkmark: 2px 0 0 $white, 4px 0 0 $white, 4px -2px 0 $white,
  4px -4px 0 $white, 4px -6px 0 $white, 4px -8px 0 $white;


$navbar-height: 64px !default;
$navbar-item-spacing: 1rem !default;
